*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     
}




body{
    background-image:url("./img/background.jpg");
	display: flex;
	background-repeat: no-repeat;
    background-size: 100%;
    
    display: flex;
    align-items: center;
}




img{
    width: 173px;
    height: 173px;
 }




.container{
max-width: width 1100px; ;
width: 90%;
margin: auto;
}


 .container> h1{    /* el titulo de filter songs*/
    color: whitesmoke;
	    font-weight: 400;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 15px 0px;
 }



 .container > h1::after{
    content: '';
    width: 100%;
    height: 1px;
    background: #C7C7C7;
    margin: 20px 0;
 }




 .store_wrapper{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
 }
 

 .category_list{
display: flex;
flex-direction: column;
width: 18%;
 }
  .category_item .otro{
	background: #2D3E50;

    }
.category_list .category_item{
display: block;
width: 90%;
padding: 15px 0;
margin-bottom: 20px;
text-align: center;
background: rgb(107, 92, 101);
text-decoration: none;
color: #fff;
}

.category_item .otro{
	background: #2D3E50;

    }

	.otro{
		background: #2D3E50;
	}
	




    /* CANCIONES---------------------------------------------------------*/

	.grupocanciones{
		width: 82%;
		display: flex;
	   flex-wrap: wrap;
	}
   
	.grupocanciones .cancion{
	   width: 22%;
	   margin-left: 3%;
	   margin-bottom: 25px;
	   box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.22);
   
	   display: flex;
	   flex-direction: column;
	   align-items: center;
	   align-self: flex-start;
   
	   transition: all .4s;
   }
   
   .grupocanciones .cancion img {
	   width: 100%;
   }
   
     .grupocanciones .cancion a{
	   display: block;
	   
	   width:100%;
	   padding: 8px 0;
	   background: #8e8dcc;
	   
	  
   
	   color: rgb(0, 0, 0);
	   text-align: center;
	   text-decoration: none;}
   
   
   
   
   
   
   
   
   

   
   
   
   
   
   
   
   
   
   








































































	

    /* RESPONSIVE */

 @media screen and (max-width: 1100px){
	.grupocanciones .cancion{
		width: 30.3%;
	}
}

@media screen and (max-width: 900px){
	.category_list,
	.grupocanciones{
		width: 100%;
	}

	.category_list{
		flex-direction: row;
		justify-content: space-between;
	}

	.category_list .category_item{
		align-self: flex-start;
		width: 15%;
		font-size: 14px;
	}

	.grupocanciones .cancion{
		margin-left: 4.5%;
	}

	.grupocanciones .cancion:nth-child(3n+1){
		margin-left: 0px;
	}
}

@media screen and (max-width: 700px){
	.category_list{
		flex-direction: column;
	}
	.grupocanciones .category_item{
		width: 100%;
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 600px){

	.grupocancionest .cancion{
		width: 47.5%;
	}

	.grupocanciones .cancion:nth-child(3n+1){
		margin-left: 4.5%;
	}

	.grupocanciones .cancion:nth-child(2n+1){
		margin-left: 0px;
	}

}

@media screen and (max-width: 350px){
	.grupocanciones .cancion{
		width: 100%;
		margin-left: 0px;
	}
}